{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
<head>
    <meta charset="UTF-8">

    <title>Title</title>
    <link rel="stylesheet" href="{% static 'CSS/headlines_page.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <div class="about-container">
        <div class="headline">
            Learn About Us
        </div>

        <!-- body content -->
        <div>
             <b>Falcon Gazette</b> a new and refreshed look at how news is delivered. Birthed in
            a Saint Augustine's University college dorm, the Falcon Gazette is the is the brain child
            of several students from across disciplines.
        </div>

    </div>
{% endblock %}
</body>
</html>