{% extends 'base.html' %}
{% load static %}

{% block content %}


    <div class="about-container">
        <div class="headline">
            Learn About Us
        </div>

        <!-- body content -->
        <div class="article_body">
             <b>Falcon Gazette</b> a new and refreshed look at how news is delivered. Birthed in
            a Saint Augustine's University college dorm, the Falcon Gazette is the is the brain child
            of several students from across different disciplines. Our goal is the bring to you information
            about everything to anything going on. We will be bringing you stories about:
            <p>
                <ul>
                    <li>Student Affairs</li>
                    <li>Wellness</li>
                    <li>Entertainment</li>
                    <li>Community Service</li>
                    <li>OpEds</li>
                    <li>Black Excellence </li>
                </ul>
            </p>
        </div>

    </div>
{% endblock %}
