{% load static %}
{% static "images" as baseUrl %}
<!--  top nav Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'CSS/story.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'CSS/headlines_page.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!--<script src="{% static 'java/main.js' %}"></script>-->
  </head>

  <body>
        <div class="white-space">
            <nav>
              <div class="menu-icon">
                <span class="fas fa-bars"></span></div>
                <a href="{% url 'index' %}"><div class="logo">
                    The Falcon Gazette  </div></a>
                    <div class="nav-items">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                       <!-- <li><a href="#">Sign Up</a></li>-->
                    </div>
                        <div class="search-icon">
                            <span class="fas fa-search"></span></div>
                            <div class="cancel-icon">
                                <span class="fas fa-times"></span></div>
                                <form action="{% url 'index' %}" method="POST">
                                     {% csrf_token %}
                                    <input type="search" class="search-data" placeholder="search" name="search" required>
                                    <button type="submit" name="genius" class="fas fa-search"></button>
                                </form>
            </nav>
        </div>
        {% block content%} {% endblock %}

        <!--footer-->
        <div class="space"></div>
        <div class="footer">&copy Tinashe Kucherera 2021
            <div>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
        </div>
        <script>
            const menuBtn = document.querySelector(".menu-icon span");
            const searchBtn = document.querySelector(".search-icon");
            const cancelBtn = document.querySelector(".cancel-icon");
            const items = document.querySelector(".nav-items");
            const form = document.querySelector("form");
            menuBtn.onclick = ()=>{
              items.classList.add("active");
              menuBtn.classList.add("hide");
              searchBtn.classList.add("hide");
              cancelBtn.classList.add("show");
            }
            cancelBtn.onclick = ()=>{
              items.classList.remove("active");
              menuBtn.classList.remove("hide");
              searchBtn.classList.remove("hide");
              cancelBtn.classList.remove("show");
              form.classList.remove("active");
              cancelBtn.style.color = "#ff3d00";
            }
            searchBtn.onclick = ()=>{
              form.classList.add("active");
              searchBtn.classList.add("hide");
              cancelBtn.classList.add("show");
            }

          </script>

  </body>
</html>