{% extends 'base.html' %}
{% load static %}
{% static "media" as baseUrl %}
<!-- start of page -->
{% block content %}
<!--  top nav Created By CodingNepal -->

  <!-- headlines -->
  <div class="headline">
      Falconation Top Stories
  <!-- introduce a for loop-->
  </div>

  <div class="gallery-container">
      {% for article in articles %}
          <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="{{ article.image.url }}">
            <img src="{{ article.image.url }}" alt="{{ article.name }}" style="height:300px;">
            </a>
            <div class="desc">
                <div class="article-title"><a href= "story?value={{ article.id }}">
                    {{ article.name }}</a>
                </div>
                <div><a href="#" class="button button4">{{article.category.name}}</a></div>
                 <div class="article-summery">{{article.summary}}</div>
            </div>
        </div>
      </div>

      {% endfor %}

      <div class="clearfix"></div>
  </div>
  {% endblock %}
