{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}
<!-- start of page -->
{% block content %}
<!DOCTYPE html>
<!--  top nav Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>index</title>
    <link rel="stylesheet" href="{% static 'CSS/headlines_page.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>
  <!-- healines -->
  <div class="headline">
      Falconation Top Stories

  </div>
  <div class="gallery-container">
          <div class="responsive">
              <div class="gallery">
                  <a target="_blank" href="img_forest.jpg">
                  <img src="{% static 'images/test.jpg' %}" alt="Forest">
                  </a>
                  <div class="desc">Add a description of the image here</div>
              </div>
        </div>

      <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_lights.jpg">
            <img src="{% static 'images/test.jpg' %}" alt="Northern Lights">
            </a>
            <div class="desc">
                <div class="article-title"><a href="#">
                    Mandated Coronavirus Testing</a>
                </div>
                 <div class="article-summery">Add a description of the image here</div>
            </div>
        </div>
      </div>

      <div class="responsive">
          <div class="gallery">
            <a target="_blank" href="{% static 'test.jpg' %}">
            <img src="{% static 'images/test.jpg' %}" alt="Mountains">
             </a>
            <div class="desc">Add a description of the image here</div>
          </div>
      </div>
      <div class="clearfix"></div>
  </div>
  </body>
{% endblock %}
</html>