{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'CSS/story.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'CSS/headlines_page.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Title</title>
</head>
<body>
    <div class="article-container">
        <div class="article-name">
            <h1>{{article.name}}</h1>
        </div>
        <div class="article-info">
            <p>
                written by: {{article.writer.name}} | editor: {{article.editor.name}}
            </p>
            <p>
                posted: {{article.date}}
            </p>
        </div>
        <div>
            <a target="_blank" href="{{ article.image.url }}">
                <img class="article-image"  src="{{ article.image.url }}" alt="{{ article.name }}">
            </a>
        </div>
         <div class="article_body">
            {{article.story | linebreaks}}
         </div>


        <!-- rating article -->
        <div>
            <h4>Rate this article:</h4>
            <form action="{% url 'story' %}" method="POST">
                {% csrf_token %}
                <fieldset class="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title=" 0k - 3 stars"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Meh - 2 stars"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Bad - 1 star"></label>
                </fieldset>
                <input type = "hidden" name = "article" value = "{{article.id}}" />
                <input type="submit" value="Submit">
            </form>
        </div>

    </div>
{% endblock %}
</body>
</html>