/************************************************
This file has css code for the story.html page
************************************************/

/******************************
Menu
1. Article heard /Name /date /editor /writer
2. Article body
3. related articles suggestions
******************************/
p {
    margin-bottom: 20px;
}

.article-container {
    width:60%;
    margin:0 auto;
}

.article-name {
    text-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom:10px;
    text-align: center;
    font-weight: bold;
}

.article-info {
   text-size: 32px;
   font-family: "Times New Roman", Times, serif;
   color: #707070;
   margin-bottom: 15px;

}

.article-image {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    margin-bottom:60px;
}

.article_body {
  width: auto;
  line-height:1.6;
  align:center;
  cursor: pointer;
  height: 500px;
  overflow: scroll;
}

/**********************
Article rating
**********************/
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }



/*********************************
recommendations
*********************************/

.recommendation {
    margin-top: 60px;
}
.line-border {
 border: 1px solid #000;
 box-shadow: 5px 0px 5px 0px grey;
 border-right: none;
 border-left: none;
 margin: auto;
 margin-top: 5%;
 margin-bottom: 5%; }


.rec-pic{
    float: right;
    margin: 0px 0px 15px 0px;
    height: 145px;
    object-fit: cover;
    width: 220px;
}

@media screen and (max-width: 600px) {
    .rec-pic {
    	height: 145px;
        object-fit: cover;
        width: 100%;
    }
}

